<div class="whitebg">
	<div class="container top">
		<img src="logo.svg">
		<h1>
			Le nouveau regard sur vos <span class="blue">baux</span> <br>
			et <span class="blue">projets immobiliers…</span> <br><br>
			arrive bientôt !
		</h1>
		<a class="button" href="mailto:contact@bxp-conseil.fr">
			<img src="mail.svg">
			On en discute ? &#x1F609;
		</a>
		<img src="fireworks.svg" class="illu">

	</div>
</div>

<div class="bluebg">
	<div class="container bottom">
		<span class="copyright">
			bxp © 2020
		</span>
		<span class="droits">
			Tous droits réservés
		</span>
	</div>
</div>