<div class="whitebg">
	<div class="container top">
		<img src="logo.svg">
		<h1>
			Le nouveau regard sur vos <span class="blue">baux</span> <br>
			et <span class="blue">projets immobiliers…</span>
		</h1>
	</div>
</div>

<div class="bluebg">
	<div class="container bottom">
		<h1>
			…arrive bientôt!
		</h1>
		<a class="button" href="mailto:contact@bxp-conseil.fr">
			<img src="mail.png" class="email">
			Nous écrire
		</a>
		<img src="illustration.svg" class="illu">
	</div>
</div>
