// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.whitebg{
	height:94vh;
	display: flex;
  	align-items: center;
}
.bluebg{
	background-color:#225CFE;
	height:6vh;
	display: flex;
  	align-items: center;
}
.container{
	width:1200px;
	margin:0 auto;
}
h1{
	font-size:38px;
	font-weight:400;
	padding-top:50px;
	margin:0;
}
h1 .blue{
	color:#225CFE;
}
.top{
	position:relative;
}
.bottom{
  	color:white;
	font-size:10px;
	display: flex;
	justify-content:space-between;
}
.illu{
	position:absolute;
	height:85%;
	width:auto;
	top:40px;
	left:600px;
}
a > img{
	margin-left:15px;
	margin-right:10px;
}
.button{
	display:flex;
	align-items:center;
	color:black;
	width:192px;
	height:50px;
	border-radius:7px;
	margin:50px 0 0 0;
	text-decoration:none;
	background-color:#F5F5F5;
}
.button:hover{
	background-color:#225CFE;
	cursor:pointer;
	text-decoration:none;
	color:white;
}